{% extends "base.html" %}
{% block title %}Delete Menu Item{% endblock %}
{% block body %}

    <div class="container">
        <div class="title">
            <h1>Delete</h1>
            <h1>{{item.name}}?</h1>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="#" method='post'>
                <button type="submit" class="btn btn-primary btn-block">Delete</button>
            </form>
            <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">
                <button name="cancel" class="btn btn-danger btn-block">Cancel</button>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}
