{% extends "base.html" %}
{% block title %}New Menu Item{% endblock %}
{% block body %}

    <div class="container">

        <div class='flash'>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        </div>

        <div class="title">
            <h1>Add Menu Item</h1>
            <h1>{{restaurant.name}}</h1>
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form  action="{{ url_for('newMenuItem',restaurant_id = restaurant.id)}}" method="post">
                <div class="form-group">
                    <label>Name:</label>
                    <input name="name" type="text" class="form-control" placeholder="Name of course">
                    <label>Description:</label>
                    <textarea name="description" class="form-control" placeholder="Description of course"></textarea>
                    <label>Price:</label>
                    <input name="price" type="text" class="form-control" placeholder="Price of course">
                    <label>Course:</label>
                    <select name="course" multiple class="form-control">
                        <option>Appetizer</option>
                        <option>Entree</option>
                        <option>Dessert</option>
                        <option>Beverage</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create</button>
            </form>
            <a href="{{ url_for('showMenu',restaurant_id = restaurant.id)}}">
                <button name="cancel" class="btn btn-danger btn-block">Cancel</button>
            </a>
        </div>
        <div class="col-md-4"></div>

    </div>


{% endblock %}

