{% extends "base.html" %}
{% block title %}Add Restaurant{% endblock%}
{% block body %}

    <div class="container">

        <div class='flash'>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        </div>

        <div class="title">
            <h1>Add Restaurant</h1>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form  action="#" method="post">
                <div class="form-group">
                    <label>Name:</label>
                    <input name="name" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create</button>
            </form>
            <a href="/">
                <button class="btn btn-danger btn-block">Cancel</button>
            </a>
        </div>

        <div class="col-md-4"></div>

    </div>

{% endblock %}
